@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.App {
    background: white;
    color: black;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

#upload-box{
    background: #fff5c4;
    padding: 50px;
    margin-bottom: 50px;
}

#pdf-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.react-pdf__Document{
    outline: solid black 1px;
}

#button{
    background: #FE6847;
    color: white;
}

#disabled { /* Increase the specificity */
    color: white;
    background: #FE6847;
    opacity: 0.7;
}

.metadata{
    display: flex;
    flex-direction: column;
    gap: 10px;
    outline: 1px solid black;
    padding: 10px;
    width: 20%;
    margin-left: 20px;
    position: absolute;
    left: 0;
    text-align: left;
}

.resume{
    text-align: center;
}

.sidebyside{
    display: flex;
    flex-direction: row;
}

#red{
    color: red;
}